body {
    background-color: #7da8ea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    width: 300px; 
    max-width: 90%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%; 
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 14px;
    border-radius: 4px;
    border: 2px solid #ccc;
}

select {
    width: 30%;
    padding: 8px;
    font-size: 14px;
}

.emailmob, .pass {
    width: 100%;
    padding: 8px;
    margin-left: 0;
    margin-bottom: 16px;
    margin-top: 0;
}

.signup {
    width: 100%; 
    margin: 10px 0;
}

.acc a {
    display: block;
    text-align: center;
    font-size: 14px;
}
