*{
    margin: 0;
}

.container{
    width: 100%;
    margin: auto;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    height: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(96, 200, 200);
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
}

header li{
    display: inline-block;
    font-size: 20px;
    padding: 5px;
}

header a{
    text-decoration: none;
}

#home{
    background-color: whitesmoke;
}
.row{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    min-height: 650px;
}

.box{
    width: 500px;
    padding: 30px;
}

.btn-signup{
    background-color: rgb(183, 229, 214);
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
}

.summary{
    font-size: 20px;
    margin-top: 10px;
}

.image{
    border-radius: 10px;
}

.title{
    font-size: 30px;
}

.proj
{
    text-align: center;
    font-size: 40px;
}

.row1{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
}

.box1 {
    width: 25%;
    background-color: #ffffff;
    padding: 30px;
    margin: 20px 0;
    border-radius: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.box1:hover {
    background-color: rgb(152, 162, 228); /* matches your color scheme */
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.proj 
{
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
}

#projects{
    background-color: rgb(204, 217, 234);
}

.demo-btn{
    background-color: rgb(184, 204, 231);
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: black;
    padding-left: 10px;
}

.services{
  padding: 60px 20px;
  background-color: rgb(212, 206, 235);
}

.services-title {
  text-align: center;
  font-size: 32px;
  color: #000000;
  margin-bottom: 40px;
}

.services-container {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 8px;
}

.box2{
  width: 200px;
  background-color: #fcfafd;
  padding: 30px;
  margin: 20px 0;
  border-radius: 12px;
}

.skills-boxes {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.box3 {
  width: 300px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skills-boxes h3 {
  text-align: center;
  margin-bottom: 20px;
}

#about{
    background-color: #e4a2cd;
}


.contact-details {
  max-width: 600px;
  margin: auto;
  margin-bottom: 50px;
  background-color: #a3abcb;
  padding: 30px;
  border-radius: 12px;
  font-size: 18px;
  color: #333;
}

.contact-details a {
  color: #2d4a75;
  text-decoration: none;
}

footer{
    padding-top: 50px;
    text-align: center;
    background-color: rgb(151, 177, 205);

}


